<!DOCTYPE html lang="en">
<html>
    <head>
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Helvetica:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet"/>
        <title>Tuboh welcome email</title>
    </head>
	<body>
        <table>
            <tbody>
                <tr>
                    <div align="center">
                        <a href="https://www.tuboh.com/" target="_blank">
                            <img width="100%" height="auto" src="https://baticali.sirv.com/Tuboh/tuboh-welcome-header.png" alt="tuboh email header" style="display: block; max-width: 1000px;" title="Tuboh header" />
                        </a>
                    </div>
                </tr>
                <tr>
                    <div style="margin: auto; padding-top: 2rem; font-family: sans-serif; color: #000">
                        <div>
                            <h3 style="font-family: Helvetica,sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: #000;text-align: center;">Dear {{ name|lower|capfirst }},</h3>
                        </div>

                        <div style="margin: auto; max-width: 25rem;">
                            <h5 style="font-family: Helvetica,sans-serif; font-weight: 400; line-height: 2rem; text-align: center; font-size: 18px; color: #000;">
                                Thank you for joining Tuboh!<br /> At Tuboh, we are dedicated to making your health journey seamless, personalized, and convenient.
                            </h5>
                        </div>
                        <div>
                            <h3 style="font-family: Helvetica,sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: #000;">Here's what you can do on Tuboh:</h3>
                        </div>
                        <div style="margin: 3rem 0rem;">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="padding-left:10px;padding-right:10px;padding-top:0px;text-align:center">
                                            <div align="center">
                                                <span>
                                                    <img width="68" height="69" src="https://baticali.sirv.com/Tuboh/appointment-icon.png" alt="tuboh email appointment icon" style="display: block;" title="Tuboh appoinments" />
                                                    <h3 style="font-family: Helvetica,sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: #000;">Find and book appointments with top doctors easily.</h3>
                                            </span>
                                            <span>
                                                <img width="68" height="69" src="https://baticali.sirv.com/Tuboh/test-icon.png" alt="tuboh email tests icon" style="display: block;" title="Tuboh tests" />
                                                <h3 style="font-family: Helvetica,sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: #000;">
                                                    Schedule lab tests and receive results digitally.
                                                </h3>
                                        </span>
                                        <span>
                                            <img width="68" height="69" src="https://baticali.sirv.com/Tuboh/drug-icon.png" alt="tuboh email drug icon" style="display: block;" title="Tuboh drugs" />
                                            <h3 style="font-family: Helvetica,sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: #000;">
                                                Order prescription drugs with a few taps.
                                            </h3>
                                    </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3 style="font-family: Helvetica,sans-serif; font-size: 20px; font-weight: 400; text-align: center; color: #000;">
                            You're now one step closer to a healthier, happier you!
                        </h3>
                        <h5 style="font-size: 18px; font-weight: 500; font-family: Helvetica,sans-serif; text-align: center;line-height: 2rem;">
                            Best Regards, <br/>The Tuboh Team
                        </h5>
                    </div>
                </tr>
                <tr>
                    <hr style="max-width: 50rem;padding-left:0.3rem;padding-right:0.3rem;"/>
                    <div style="max-width: 50rem; padding: 0.8rem;  margin: auto; font-family: sans-serif;">
                        <h3 style="text-align:center;font-weight: 400;font-size: 13px;">
                            © 2023 Tuboh.
                        </h3>
                        <h3 style="text-align:center;font-weight: 400;font-size: 13px;">
                            You are receiving this email because you opted in via our website.
                        </h3>
                        <div align="center" style="display: flex; align-items: center; justify-content: space-around; gap: 1.5rem;">
                            <a href="https://facebook.com">
                                <img width="40" height="40" style="display: block;" title="Tuboh twitter" src="https://baticali.sirv.com/Tuboh/twitter-icon.png" alt="tuboh email twitter icon" />
                            </a>
                            <a href="https://facebook.com">
                                <img width="40" height="40" style="display: block; margin-left: 2px; margin-right: 2px;" title="Tuboh instagram" src="https://baticali.sirv.com/Tuboh/IG-icon.png" alt="tuboh email instagram icon" />
                            </a>
                            <a href="https://facebook.com">
                                <img width="40" height="40" style="display: block;" title="Tuboh linkedin" src="https://baticali.sirv.com/Tuboh/linkedin-icon.png" alt="tuboh email linkedin icon" />
                            </a>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
	</body>
</html>